<h1>Affichage accommodations</h1>

<% @journey_accommodations.each do |journey_accommodation| %>
    <li><%= journey_accommodation.accommodation.name %></li>
<% end %>


<%= link_to "Ce choix me convient",  journey_journey_activities_path(@journey) %>


<%= form_with model: [@journey, @journey_accommodation] do |form| %>
  <%= form.label :accommodation_id %>
  <%= form.select :accommodation_id, @select_accommodations %>
  <%= form.submit "Ajouter un lieu où dormir" %>
<% end %>
