<% defined?(step) ? step = step : step = "default" %>
<div class="journey-activity-card flex items-stretch shadow-md bg-white w-full rounded-lg overflow-hidden">
  <div class="journey-activity-card__image shrink-0">
    <img src="<%= journey_activity.activity.image_url %>" />
  </div>
    
  <div class="journey-activity-card__details flex flex-col justify-center grow px-4 py-2">
    <span><%= journey_activity.activity.name.truncate(56, omission: '...') %></span>
    <span class="details-text"><%= journey_activity.activity.price %></span>
  </div>
  <% if step == "vote" %>
    <div class="journey-activity-card__vote">
      <%= render "shared/drag" %>
    </div>
  <% else %>
    <%= link_to journey_journey_activity_path(@journey, journey_activity), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr·e ?"} do %>
      <%= render "shared/bin" %>
    <% end %>
  <% end %>
</div>
