<div class="pb-24">
  <%= render "shared/breadcrumbs", step: "activity" %>

  <h1 class="text-center">Choix des activités</h1>

  <% if @journey_activities.size > 0 %>
    <div class="flex flex-col gap-4 py-8">
      <% @journey_activities.each do |journey_activity| %>
        <%= render "journey_activity_card", journey_activity: journey_activity %>
      <% end %>
    </div>
  <% end %>

<%# <%= form_with model: [@journey, @journey_activity] do |form| %>
  <%# <%= form.label :activity_id %> 
  <%# <%= form.select :activity_id, @select_activities %>
  <%# <%= form.submit "Ajouter une activité", class: "btn secundary" %>
<%# <% end %>

<button id="clickBtn" class="btn secundary mt-8">Ajouter une activité</button>
</div>

<div id="popupContainer">
  <div id="popup">
    <span id="closeBtn">&times;</span>
    <h1 class="text-center mb-8">Recherche une activité</h1>
    <%= render "journey_activities/search_form"%>
  </div>
</div>

<div class="fixed bottom-0 left-0 right-0 w-full p-4 bg-white border-t border-great-blue-300">
  <%= link_to "Valider les activités", waitings_act_path(@journey), class:"btn primary" %>
</div>
