<div class="pb-24">
  <%= render "shared/breadcrumbs", step: "date" %>

  <h1 class="text-center">Choix d'une date</h1>
  
  <div class="flex flex-col gap-4 py-8">
    <% @journey_dates.each do |journey_date| %>
      <%= render "journey_date_card", journey_date: journey_date %>
    <% end %>
  </div>

  <%= form_with model: [@journey, @journey_date], data: { controller: 'flatpickr' }, class: "flex flex-col gap-4" do |f| %>
    <%= f.text_field :dates, as: :string, placeholder: "Choisir une date de début et de fin",  data: { flatpickr_target: "startTime" } %>
    <%= f.submit 'Proposer ces dates', class: "btn secundary" %>
  <% end %>
</div>

<div class="fixed bottom-0 left-0 right-0 w-full p-4 bg-white border-t border-great-blue-300">
  <%= link_to "Je valide ces dates", waitings_path(@journey), class:"btn primary" %>
</div>
