<h1>Propositions de dates <i class="fa-solid fa-calendar"></i></h1>

<% @journey_dates.each do |journey_date| %>
    <li>Du <%= journey_date.start_date.strftime("%d/%m/%Y")%>au <%= journey_date.end_date.strftime("%d/%m/%Y")%></li>

<% end %>


<%= form_with model: [@journey, @journey_date], data: { controller: 'flatpickr' } do |f| %>
  <%= f.text_field :dates, as: :string,  data: { flatpickr_target: "startTime" } %>
  <%= f.submit 'Proposer des dates' %>
<% end %>

<%= link_to "Je valide ces dates", waitings_path(@journey), class:"btn-one inline-block" %>
