<%= render "shared/breadcrumbs", step: "vote1" %>

<h1 class="text-center">Vote de la date</h1>

<%= form_with url: update_ranking_journey_journey_dates_path(@journey) do |form| %>
  <ul class="cards-sortable flex flex-col gap-4 py-8">
    <% x = 0 %>
    <% @journey_dates.each do |journey_date| %>
      <li class="card" data-ranking="<%= @journey_dates.count %>">
        <%= render "journey_date_card", journey_date: journey_date, step: "vote"  %>
        <%= hidden_field_tag "journey_dates[#{x}][id]", journey_date.id %>
        <%= hidden_field_tag "journey_dates[#{x}][ranking]", @journey_dates.count - x, class:"hidden_ranking" %>
      </li>
    <% end %>
    <% x+=1 %>
  </ul>
  <div class="fixed bottom-0 left-0 right-0 w-full p-4 bg-white border-t border-great-blue-300">
    <%= form.submit "Je valide mon vote", data: { turbo: false }, class: "btn primary" %>
  </div>
<% end %>
