<header class="sticky top-0 px-4 py-2 shadow-md bg-white z-20">
  <div class="header__container flex items-center justify-between gap-4">
    <% if @journey.nil? %>
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "w-36 h-12" %>
      <% end %>
    <% else %>
      <div class="header__journey flex items-center gap-2">
        <%= link_to journeys_path do %>
          <%= render "shared/arrow" %>
        <% end %>
        <div class="pl-2">
          <h2><%= current_page?(new_journey_path) ? "Nouveau weekend" : @journey.name  %></h2>
          <% unless @journey.id.nil? || @journey.journey_members.size < 1 %>
            <span class="details-text">
              <% members = "" %>
              <% @journey.journey_members.each do |member| %>
                <% members = members.concat(member.user.nickname, ', ') %>
              <% end%>
              <%= members.chomp(', ') %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
    <nav class="flex items-center justify-end gap-2">
      <% if user_signed_in? %>
        <div data-controller="dropdown" class="relative flex">
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide">
          <%= render "users/avatar", user: current_user %>
          </button>
          <div
            data-dropdown-target="menu"
            class="hidden flex flex-col items-center transition transform origin-top-right absolute top-full right-0 bg-white p-4 rounded-2xl shadow-lg"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <%= link_to "Mes weekends", journeys_path, class: "dropdown-item block w-max p-2 text-great-blue-500" %>
            <%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item block w-max p-2 text-great-blue-500", data: {turbo_method: :delete} %>
          </div>
        </div>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "text-great-blue-500" %>
        <%= link_to "Inscription", new_user_registration_path, class: "text-great-blue-500" %>
      <% end %>
    </nav>
  </div>
</header>
