<div data-waiting-room-subscription-target="waitingUser">
  <div class="flex flex-col w-full py-8">
    <div class="w-full flex items-center justify-between">
      <h2 class="w-1/2 text-center">Les retardataires</h2>
      <h2 class="w-1/2 text-center">Les bons élèves</h2>
    </div>
    <div class="waiting__top flex">
      <div class="w-1/2 px-8">
        <div class="bg-white border-x border-t rounded-t-xl h-8 mt-8">
          <div class="waiting__top_icon">
            <%= render "shared/sandglass" %>
          </div>
        </div>
      </div>
      <div class="w-1/2 px-8">
        <div class="bg-white border-x border-t rounded-t-xl h-8 mt-8">
          <div class="waiting__top_icon">
            <%= render "shared/checked" %>
          </div>
        </div>
      </div>
    </div>
    <% @journey_members.each do |journey_member| %>
      <div  id="status-<%= journey_member.id %>"
            class="waiting__status w-full flex items-stretch <%= journey_member.current_status_enum < step_id ? "warning" : "good" %>"
            >
        <div class="w-1/2 px-8">
          <div class="w-full flex flex-col items-center bg-white border-x py-2">
            <%= render "users/avatar", user: journey_member.user %>
            <span class="details-text"><%= journey_member.user.nickname %></span>
          </div>
        </div>
        <div class="w-1/2 px-8">
          <div class="w-full h-full flex flex-col items-center bg-white border-x py-2">
          </div>
        </div>
      </div>
    <% end %>
    <div class="waiting__bottom flex">
      <div class="w-1/2 px-8">
        <div class="bg-white border-x border-b rounded-b-xl h-4">
        </div>
      </div>
      <div class="w-1/2 px-8">
        <div class="bg-white border-x border-b rounded-b-xl h-4">
        </div>
      </div>
    </div>
  </div>
</div>