<%= render "shared/breadcrumbs", step: "budget" %>

<h1 class="text-center">Mon budget pour le weekend</h1>

<div class="flex items-center justify-center py-8 icon64">
  <%= render "shared/budget" %>
</div>

<%= form_with model: [@journey, @journey_member], class: "grow flex flex-col" do |form| %>
  <div class="flex flex-col gap-4 grow pb-24">
    <div class="field">
      <%= form.number_field :budget, placeholder: "Budget" %>
    </div>
  </div>
  <div class="fixed bottom-0 left-0 right-0 w-full p-4 bg-white border-t border-great-blue-300">
    <%= form.submit "Valider mon budget", class:"btn primary", data: { turbo: "false" } %>
  </div>
<% end %>
