<%= render "journeys/summary", journey: @journey, total_budget: @journey_total_budget, journey_members: @journey.journey_members %>

<h1>Affichage des lieux <i class="fa-solid fa-location-dot"></i></h1>


<% @journey_locations.each do |journey_location| %>
    <li><%= journey_location.location.city%></li>
    <img src="<%= journey_location.location.image_url %>">
  <% end %>
</ul>



<%# <%= form_with model: [@journey, @journey_location] do |form| %>
  <%# <%= form.label :location_id %>
  <%# <%= form.select :location_id, @select_locations %>
  <%# <%= form.submit "Ajouter une ville" %>
<%# <% end %>

<h1>Recherche par ville:</h1>

<%= render "journey_locations/search_form"%>
<%= link_to "Ajouter cette ville", journey_journey_locations_path(@journey)%>
<%= link_to "Passer à l'étape suivante",  journey_journey_dates_path(@journey)%>

<%= link_to "Je valide la liste", journey_journey_dates_path(@journey), class:"btn-one inline-block" %>
