<h1>Votez <i class="fa-solid fa-check-to-slot"></i></h1>

<%= form_with url: update_ranking_journey_journey_locations_path(@journey) do |form| %>
  <ul class= "cards-sortable">
    <% x = 0 %>
    <% @journey_locations.each do |location| %>
      <li class="card" data-ranking="<%= @journey_locations.count %>">
        <%= location.location.city%>
        <%= hidden_field_tag "journey_locations[#{x}][id]", location.id %>
        <%= hidden_field_tag "journey_locations[#{x}][ranking]", @journey_locations.count - x, class:"hidden_ranking" %>
      </li>
      <% x+=1 %>
    <% end %>
  </ul>
  <%= form.submit "Je valide mon vote", data: { turbo: false } %>
<% end %>
