<h3>Ont voté:</h3>
<% @journey_members.each do |journey_member| %>
  <% if journey_member.dates_voted? || journey_member.activities_voted? || journey_member.locations_voted? || journey_member.locations_accepted? || journey_member.dates_accepted? || journey_member.activities_accepted?%>
    <li>
    <%= journey_member.user.nickname %>
     <% if !journey_member.user.avatar.key.nil?%>
      <%= cl_image_tag journey_member.user.avatar.key, class: "avatar" %>
    <% end %>
    </li>
  <% end %>
<% end %>
<h3>N'ont pas encore voté</h3>
<% @journey_members.each do |journey_member| %>
   <% if journey_member.default? || journey_member.dates_accepted? || journey_member.locations_accepted? %>
    <li>
      <%= journey_member.user.nickname %>
      <% if !journey_member.user.avatar.key.nil?%>
      <%= cl_image_tag journey_member.user.avatar.key, class: "avatar" %>
    <% end %>
    </li>
  <% end %>
<% end %>



<p>Vous partez à : <%= @city_voted.location.city %></p>
<p>Vous partez du <%= @date_voted.start_date.strftime("%d/%m/%Y") %> au  <%= @date_voted.end_date.strftime("%d/%m/%Y") %>
<h3>A présent, vous pouvez voir et proposer des activités</h3>
<%= link_to "Les activités", journey_journey_activities_path(@journey) %>
