<%= render "shared/breadcrumbs", step: "vote1" %>

<div  class="w-full"
      data-controller="waitingroom-subscription"
      data-waitingroom-subscription-journey-id-value="<%= @journey.id %>"
      data-waitingroom-subscription-current-user-id-value="<%= current_user.id %>"
      data-waitingroom-subscription-current-user-status-value="<%= @journey_member.read_attribute_before_type_cast(:status) %>"
      >
  <h1 class="text-center">Tout le monde a voté ?</h1>

  <%= render "shared/waiting", step_id: 5 %>

  <div class="infos" data-waitingroom-subscription-target="infos">
    <% if @all_good %>
      <h2 class="text-center my-4">Les votes ont parlé !</h2>
      <%= render "journey_summary_location" %>
    <% end %>
  </div>

  <div class="fixed bottom-0 left-0 right-0 w-full p-4 bg-white border-t border-great-blue-300">
    <%= link_to journey_journey_activities_path(@journey),
                data: {turbo: false, waitingroom_subscription_target: "button"},
                class: "btn primary #{ 'disabled' unless @all_good }" do
                %>
      <%= @all_good ? "Place aux activités !" : "En attente de vos amis..." %>
    <% end %>
  </div>
</div>
