<% if current_user %>

  <div class="pb-24">
    <h1 class="text-center">Mes week-ends en cours</h1>
    <div class="flex flex-col gap-4 py-8">
      <% @journeys.each do |journey| %>
        <% journey_member_id = JourneyMember.find_by(journey: journey, user: current_user) %>
        <% case journey_member_id.status%>
          <% when "default" %>
            <% status = "Définir mon budget" %>
            <% card_path = edit_journey_journey_member_path(journey.id, journey_member_id) %>
          <% when "budget_defined" %>
            <% status = "Valider les destinations" %>
            <% card_path = journey_journey_locations_path(journey.id) %>
          <% when "locations_accepted" %>
            <% status = "Valider les dates" %>
            <% card_path = journey_journey_dates_path(journey.id) %>
          <% when "dates_accepted" %>
            <% status = "Voter les destinations" %>
            <% card_path = waitings_path(journey.id) %>
          <% when "locations_voted" %>
            <% status = "Voter les dates" %>
            <% card_path = dates_votes_path(journey.id) %>
          <% when "dates_voted" %>
            <% status = "Valider les activités" %>
            <% card_path = has_voted_path(journey.id) %>
          <% when "activities_accepted" %>
            <% status = "Voter les activités" %>
            <% card_path = waitings_act_path(journey.id) %>
          <% when "activities_voted" %>
            <% status = "Voir le résume" %>
            <% card_path = summary_path(journey.id) %>
        <% end %>
        <%= link_to card_path, class:"m-2" do %>
          <%= render "journey_card", journey: journey, journey_member_id: journey_member_id, status: status %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="fixed bottom-0 left-0 right-0 w-full p-4 bg-white border-t border-great-blue-300">
    <%= link_to "Créer un week-end", new_journey_path, class:"btn secundary" %>
  </div>
  
<% else %>

  <div class="h-full bg-cover bg-center bg-no-repeat flex flex-col justify-between" style="background-image: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), url(<%= asset_path 'weekzen_bg.jpg' %>);">
    <div class="grow flex items-center justify-center">
      <h1 class="px-16 pb-72 text-center">L'application qui vous aide à organiser vos week-ends entre ami·e·s</h1>
    </div>
    <%= render "shared/footer" %> 
  </div>   

<% end %>