<h1>Nouveau weekend</h1>

<%= form_with model: @journey do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <%= form.submit "Créer un weekend" %>
<% end %>

<%= @users.each do |user| %>
  <%# <% if user.selected? %> %>
    <%# <% user.avatar %> %>
  <% end %>
<% end %>
