<h3>Ont validé les propositions:</h3>
<% @journey_members.each do |journey_member| %>
  <% if !journey_member.default? %>
  <li>
    <%= journey_member.user.nickname %>
     <% if !journey_member.user.avatar.key.nil?%>
      <%= cl_image_tag journey_member.user.avatar.key, class: "avatar" %>
    <% end %>
  <% end %>
  </li>
<% end %>
<h3>N'ont pas encore validé:</h3>
<% @journey_members.each do |journey_member| %>
   <% if journey_member.default? %>
    <li>
      <%= journey_member.user.nickname %>
      <% if !journey_member.user.avatar.key.nil?%>
      <%= cl_image_tag journey_member.user.avatar.key, class: "avatar" %>
    <% end %>
    </li>
  <% end %>
<% end %>

<%= link_to "Place au vote", locations_votes_path(@journey), data: { turbo: false }, class:"btn-one inline-block"%>
