<div class="container"
  data-controller="waitingroom-subscription"
  data-waitingroom-subscription-journey-id-value="<%= @journey.id %>"
  data-waitingroom-subscription-current-user-id-value="<%= current_user.id %>"
>

  <div data-waiting-room-subscription-target="waitingUser">
    <h3>Users</h3>
    <% @journey_members.each do |journey_member| %>
      <li >
        <%= journey_member.user.nickname %>
        <% if journey_member.user.avatar.attached? %>
          <%= cl_image_tag journey_member.user.avatar.key, class: "avatar" %>
        <% end %>
      </li>

      <p class="status <%= journey_member.default? ? "warning" : "good" %>" id="status-<%= journey_member.id %>"><%= journey_member.default? ? "Non validé" : "Validé" %></p>
    <% end %>

  </div>

</div>

<%= link_to "Place au vote", locations_votes_path(@journey), data: { turbo: false }, class:"btn-one inline-block"%>
