<h1 class="text-center">Liste des dépenses</h1>
<% if @journey.expenses.size > 0 %>
    <div class="flex flex-col gap-4 py-8">
      <% @journey.expenses.each do |journey_expense| %>
       <div class="flex items-stretch shadow-md bg-white w-full gap-4 rounded-lg overflow-hidden relative">
         <div class="flex flex-col justify-center grow">
         <h2><%= journey_expense.amount %>€</h2>
         <p class="text-gray-500"><%= journey_expense.title %></p>
         <p class="text-gray-500">Payé par: <%= journey_expense.payer %></p>
         <p class="text-gray-500">Pour: <%= journey_expense.recipient %></p>
         <%= link_to "Supprimer cette dépense X", journey_expense_path(@journey, journey_expense), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>

      <% end %>
    </div>
  <% end %>
</div>

<%= form_with model: [@journey, @expense] do |f| %>
    <%= f.label :title, 'Nom de la dépense' %>
    <%= f.text_field :title %>
    <%= f.label :amount, 'Montant' %>
    <%= f.number_field :amount %>
    <%= f.label :payer, 'Avancé par' %>
    <%= f.select :payer, @nicknames, multiple: true %>
    <%= f.label :recipient, 'Avancé pour' %>
    <%= f.select :recipient, @nicknames, multiple: true %>
    <%= f.submit 'Ajouter une dépense', class: "btn secundary mt-8"%>
<% end %>

<%= link_to "Afficher les balances", balance_journey_expenses_path(@journey)  %>
