<!DOCTYPE html>
<html>
  <head>
    <title>WeekZen | Planificateur de weekends entre amis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('weekzen_favicon.png') %>
    <link rel="stylesheet" href="https://use.typekit.net/jjq4sge.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body class="bg-bg h-screen flex flex-col">
    <%= render "shared/header" %>
    <main class="grow flex flex-col<% unless current_page?(root_path) && user_signed_in? == false %> px-4 pt-8 pb-4<% end %>"
          style="background-image: url(<%= asset_path 'wz_bg.png' %>);">
      <%= yield %>
    </main>
  </body>
</html>
